#careers-form-container {
	padding: 40px 0 40px;
	background-color: #ffffff;
}

#careers-form-container {
	font-size: 15px;
}

#careers-form-container .form-label {
    display: block;
    margin-bottom: 3px;
    color: #fc6c42;
    font-size: 14px;
}

#careers-form-container #job-description {
	padding-left: 10px;
	font-size: 12px;
	color: #fc6c42;
}

#careers-form-container input:not(#careers-submit):not(#careers-letter), #careers-form-container .careers-select {
	border: 2px solid #fc6c42;
}

#careers-form .careers-textbox, #careers-form .careers-date, #careers-form-container .careers-select {
	width: 100%;
	height: 28px;
}

#careers-form #careers-submit {
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #fc6c42;
	color: #fc6c42;
	font-weight: 600;
	padding: 7px 11px;
	cursor: pointer;
	transition: color 300ms, border 300ms, background-color 300ms;
}

#careers-form #careers-submit:hover {
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: #fc6c42;
}

#careers-form .error-msg {
	min-height: 18px;
	margin: 1px 0 6px;
	color: #ff0000;
	font-size: 12px;
}

@media (max-width: 575px) {
	#careers-form .row:last-child>div:first-child {
		text-align: center;
	}
}